body {
  background-color: rgb(93, 94, 95) !important;
}

div{
}

.container {
  margin-top: 15% !important;
  width: 1000px;
  margin: auto;
  border: 1px black ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.select_umbrela_title{
  color: #fff;
}

.btn{
  font-size: 2rem;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 5px;
}



footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
}

.umbrella{
  background-image: url('./images/Blue_umbrella.png') ;
  height:455px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  display: none;
  width: 10%;
  height: 5%;
  margin-top: 80%;
  margin-left: 45%;
}

.left{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.right{
  padding-left: 10%;
  align-items: center;
  padding-top: 10%;
}
